<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <title>Say hello</title>
</head>
<div class="blurred-box">
    <div class="user-login-box">
      <span class="user-icon"></span>
      <div class="user-name"></div>
      <label id = "message">Say Something to Aradhana</label>
      <form action="/" method="post">
        <textarea name="message" class="message" cols="30" rows="5"></textarea>
        <Button class="btn">Send</Button>
      </form>
      </div>
    
  </div>
</html>